<html>
  <head>
    <title>Account-activation</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

  </head>
  <body
    bgcolor='#FFFFFF'
    leftmargin='0'
    topmargin='0'
    marginwidth='0'
    marginheight='0'
    style='font-family:Arial'
  >
    <table
      id='Table_01'
      width='847'
      border='0'
      cellpadding='0'
      cellspacing='0'
      style='width: 847px; overflow: hidden'
    >
      <tr>
        <td height='88' colspan='3' valign='bottom'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Header.jpg'
            width='847'
            height='88'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
      </tr>
      <tr>
        <td height='33' colspan='3' valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Head-Shape.jpg'
            width='847'
            height='33'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
      </tr>
      <tr>
        <td height='96' valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Left-Shape.jpg'
            width='107'
            height='96'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
        <td style='background-color: #fff'>
          <table
            width='100%'
            border='0'
            cellspacing='0'
            cellpadding='0'
            style='background-color: #fff'
          >
            <tbody>
              <tr>
                <td><h2
                    style='font-family:Arial; font-size: 30px; font-weight: 700; text-align: center'
                  >Welcome to
                    <span style='color:#F47C3C'>HFS OneOffice Pulse!</span>
                  </h2></td>
              </tr>
            </tbody>
          </table>

        </td>
        <td valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Right-Shape.jpg'
            width='108'
            height='96'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
      </tr>
      <tr>
        <td
          valign='top'
          style='background:url(https://e2eresearch.com/swteam/emailer/hfs/images/grayleft.jpg) repeat; width: 107px;'
        >
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-left-Shape2.jpg'
            width='107'
            height='360px'
            title=''
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
        <td
          valign='top'
          style='text-align: center;background: #fff'
          align='center'
        >
          <table
            width='90%'
            border='0'
            align='center'
            cellpadding='1'
            cellspacing='1'
            style='background: #fff'
          >
            <tbody>
              <tr>
                <td><p
                    style='font-family:Arial; font-size: 15px; text-align: left;'
                  >Hello {{name}}</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p
                    style='font-family:Arial; font-size: 18px; text-align: left;'
                  >You’re just a click away! </p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p
                    style='font-family:Arial; font-size: 15px; text-align: left'
                  >Thank you for registering for a
                    <b>HFS OneOffice Pulse</b>
                    account. Click the button to verify your email address, set
                    your password, and activate your account.</p></td>
              </tr>
              <tr>
                <td style='text-align: center'>&nbsp;</td>
              </tr>
              <tr>
                <td style='text-align: center'>&nbsp;</td>
              </tr>
              <tr>
                <td style='text-align: center'><a
                    href={{setPassLink}}
                    style='display: block; text-align: center;'
                  >
                    <img
                      src='https://e2eresearch.com/swteam/emailer/hfs/images/btn_activate.png'
                      width='200'
                      height='46'
                      style='display:inline-block; margin: 0px auto; padding: 0px; border:0px'
                    /></a></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p
                    style='font-family:Arial; font-size: 13px;  text-align: left'
                  >Or, copy/paste the link into your browser. </p></td>
              </tr>
              <tr>
                <td height='36' valign='top' style='text-align: center'>
                  <div
                    style='background-color: #F2F2F2; color: #3B3B3B; width:100%; margin: 10px auto; border-radius: 5px; overflow: hidden'
                  >
                    <table
                      border='0'
                      cellspacing='3'
                      cellpadding='3'
                      style='font-family:Arial; font-size: 13px; padding: 10px; text-align: left; background-color: #F2F2F2; color: #3B3B3B; width:100%; margin: 10px auto; border-radius: 5px;'
                    >
                      <tbody>
                        <tr>
                          <td><p
                              style='word-break: break-all;  text-align: left'
                            >{{setPassLink}}</p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
        <td
          valign='top'
          style='background:url(https://e2eresearch.com/swteam/emailer/hfs/images/grayright.jpg) repeat; width:108px;'
        ><img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Right-Shape2.jpg'
            width='108px'
            height='360px'
            title=''
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
      </tr>
      <tr>
        <td height='37' colspan='3' valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Bottom-Shape.jpg'
            width='847'
            height='37'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
      </tr>
      <tr>
        <td valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Botton-Left.jpg'
            width='107'
            height='86'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
        <td valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Botton-Middle.jpg'
            width='632'
            height='86'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
        <td valign='top'>
          <img
            src='https://e2eresearch.com/swteam/emailer/hfs/images/Email-Botton-Right.jpg'
            width='108'
            height='86'
            alt=''
            style='display:block; margin: 0px; padding: 0px; border:0px'
          /></td>
      </tr>
    </table>
  </body>
</html>